streamlit==1.26.0
langchain==0.0.329
langchain_google_genai==0.0.5
langchain_community==0.0.10
faiss-cpu==1.7.4
python-dotenv==1.0.0
fastapi==0.103.1
uvicorn==0.23.2
gunicorn==21.2.0
flask==2.3.3
pydantic==2.3.0